
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
*{

font-family:'poppins' , sans-serif ;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

header{

width: 100%;
display: flex;
position: fixed;
z-index: 999;
justify-content: space-between;
align-items: center;
padding: 10px 200px;


}

.logo{

text-decoration: none;
color: blue;
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;

}
.nav a{
text-decoration: none;
color:black;
font-size: 1em;
font-weight: 300;

}





